@import 'node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  animation: $value;
}

@mixin grayscale($value) {
  -webkit-filter: grayscale($value);
  filter: grayscale($value);
}

@mixin transition($value) {
  transition: $value;
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #f4f7f9;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #444;
}
.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.brand {
  color: #fff;
  padding-top: 2rem;
}

.caption {
  position: absolute;
  width: 100%;
  top: 30%;
}

.typed {
  color: #b2b2b2;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}
.typed-string {
  display: inline;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (min-width: 48em) {
  .typed,
  .typed-string {
    font-size: 4rem;
  }
}
.typed-cursor {
  opacity: 1;
  @include animation(blink 1s infinite);
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about,
.social,
.projects {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.about h2,
.social h2,
.projects h2 {
  margin-bottom: 2rem;
}

.profile {
  width: 100%;
  max-width: 300px;
}

.social {
  color: #fff;
  background-color: #292939;
}
.social .col-md-4 {
  margin-bottom: 1.5rem;
}
.social img {
  margin-bottom: 1.5rem;
  @include grayscale(100%);
  @include transition(ease-in-out all 0.2s);
}
.social img:hover {
  @include grayscale(0%);
}

.projects h3 {
  margin-top: 0.5rem;
}

.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: 0.05rem solid #e5e5e5;
}
